<head>
<title>Witter</title>

<!-- All code is from scratch for learning purposes. --> 

<!-- our own math -->
<script src="/JS/math/vector3.js"></script>
<script src="/JS/math/vector4.js"></script>
<script src="/JS/math/matrix4.js"></script>

<!-- our own utility code -->
<script src="/JS/misc/input.js"></script>
<script src="/JS/misc/time.js"></script>
<script src="/JS/misc/utils-gl.js"></script>
<script src="/JS/misc/utils-loading-promises.js"></script>

<!-- our own geometry code -->
<script src="/JS/misc/webgl-geometry-json.js"></script>
<script src="/JS/misc/webgl-geometry-quad.js"></script>

<script src="/JS/misc/camera.js"></script>
<script src="/JS/misc/camera.orbit.js"></script>
<script src="/JS/app.js"></script>

<!-- Don't bother looking for app icon -->
<link rel="shortcut icon" href="">
<link rel="stylesheet" href="/CSS/gllarge.css">
</head>

<body>
    <canvas id="webgl-canvas" width="200" height="250"></canvas>
</body>